* {
	cursor: auto;
}

body {
	overflow: visible;
}

ol {
	padding-left: 40px;
}

pre.last-pre {
	margin-bottom: 0;
}

.doc-nav {
	width: 100%;
	height: 80px;
	z-index: 999;
	background: black;
	position: fixed;
	top: 0;	
	left: 0;
	display: -webkit-box;
		display: -ms-flexbox;
			display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.doc-nav ul {
	text-align: center;
	margin-top: -15px;
}

.doc-nav ul li {
	display: inline-block;
	margin-right: 20px;
	margin-top: 15px;
	line-height: 13px;
}

.doc-nav ul li:last-child {
	margin-right: 0;
}

.doc-nav ul li:first-child {
	margin-right: 50px;
}

.doc-nav ul li a {
	color: white;
	font-family: 'Saira', sans-serif;
	letter-spacing: 1px;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 13px;	
}

@media only screen and (max-width: 767px) {
	
	.doc-nav {
		display: none;
	}
	
}

.doc-margin {
	margin-top: 80px;
}

.doc-bg {
	background: #f0f0f0;
}

pre {
	margin-top: 30px;
}

table {
	width: 100%;
	margin-top: 20px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-left: none;
	border-right: none;
	background-color: #FFF;
}

th,
td {
	padding: 10px 7px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-bottom: none;
	border-top: none;
	font-size: 14px;
	line-height: 14px;
	font-family: 'Saira', sans-serif;
	font-weight: 400;
}

th {
	font-weight: 600;
}

a {
	cursor: pointer;
}